form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
}

._details{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   
}

button{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: green;
    color: white;
    width: 200px;
    height: 30px;
    border: none;
}

p{
    color: red;
}

h5{
    color:red
}
